include ../../_paths.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href=`${paths.css}`)
        title Document
    body 
        
        //- include ../../partials/components/header.pug
        include ../../partials/components/form.pug
        //- include ../../partials/components/footer.pug

        //- script(type="module", src=`${paths.js}/homepage/main.js`) 
