include ../../_paths.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href=`${paths.css}`)
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css')
        title Document
    body 
        
        include ../../partials/components/header.pug
        include ./banner.pug
        include ./video-frame.pug
        include ./target.pug
        include ./feedback.pug
        include ./services.pug
        include ./projects.pug
        include ./parthners.pug

        include ../../partials/components/form.pug
        include ../../partials/components/footer.pug
        script(src='https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js')
        script(type="module", src=`${paths.js}/homepage/main.js`)
        script(type="module", src=`${paths.js}/homepage/swiper.js`)
        script(type="module", src=`${paths.js}/homepage/projectsSwiper.js`)

