include ../../_paths.pug

.stats
    img(src=`${paths.img.img}/bg-image.png`, alt="bg", class='stats__bg')
    .container
        h2.stats__title Some facts and figures

        .stats__list
            .stats__item
                .stats__circle-border.stats__circle-border--orange.c-98
                    .stats__circle
                        .stats__value 98%
                .stats__desc Totally satisfied clients
                
            .stats__item
                .stats__circle-border.stats__circle-border--pink.c-20
                    .stats__circle
                        .stats__value 20
                .stats__desc Years of experience
                
            .stats__item
                .stats__circle-border.stats__circle-border--blue.c-75
                    .stats__circle
                        .stats__value 9452
                .stats__desc Working hours spent
                
            .stats__item
                .stats__circle-border.stats__circle-border--green.c-100
                    .stats__circle
                        .stats__value 100%
                .stats__desc Succeeded projects


