include ../../_paths.pug

    .target 
        h2.target__title Our core values
        span.target__desc Our mission is to set the highest standards for construction sphere.
        .target__cards 
            .target__item 
                img(src=`${paths.img.img}/homepage/icons/like-icon.svg`, alt="like-icon")
                h5 Quality 
                span Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            .target__item 
                img(src=`${paths.img.img}/homepage/icons/hand-icon.svg`, alt="hand-icon")
                h5 Safety
                span Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
            .target__item 
                img(src=`${paths.img.img}/homepage/icons/slippers-icon.svg`, alt="snippers-icon")
                h5 Comfort
                span Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
