include ../../partials/components/testimonials.pug


//- section.testimonials
//-     .container
//-         h2.testimonials__title What our clients are saying
//-         .testimonials__content-wrapper
//-                 .testimonials__sub-wrapper
//-                     .testimonials__slider.swiper-container.testimonials__swiper
//-                         .swiper-wrapper
//-                             .testimonials__slide.swiper-slide
//-                                 .testimonial-card
//-                                     .testimonial-card__avatar
//-                                         p SE
//-                                     .testimonial-card__content
//-                                         p.testimonial-card__text
//-                                             | Ipsum aube sunt aliquip aute et occaecat. Anim minim da cillum eiusmod enim Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.
//-                                         .testimonial-card__author
//-                                             .testimonial-card__name Shawn Edwards
//-                                             .testimonial-card__position Position, Company name.

//-                             .testimonials__slide.swiper-slide
//-                                 .testimonial-card
//-                                     .testimonial-card__avatar.testimonial-card__avatar--green
//-                                         p DG
//-                                     .testimonial-card__content
//-                                         p.testimonial-card__text
//-                                             | Ipsum aube sunt aliquip aute et occaecat. Anim minim da cillum eiusmod enim Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.
//-                                         .testimonial-card__author
//-                                             .testimonial-card__name Dave Grohl
//-                                             .testimonial-card__position Position, Company name.
//-                             .testimonials__slide.swiper-slide
//-                                 .testimonial-card
//-                                     .testimonial-card__avatar.testimonial-card__avatar--orange
//-                                         p TH
//-                                     .testimonial-card__content
//-                                         p.testimonial-card__text
//-                                             | Ipsum aube sunt aliquip aute et occaecat. Anim minim da cillum eiusmod enim Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.
//-                                         .testimonial-card__author
//-                                             .testimonial-card__name Tom Holland
//-                                             .testimonial-card__position Position, Company name.
//-                             .testimonials__slide.swiper-slide
//-                                 .testimonial-card
//-                                     .testimonial-card__avatar.testimonial-card__avatar--blue
//-                                         p RS
//-                                     .testimonial-card__content
//-                                         p.testimonial-card__text
//-                                             | Ipsum aube sunt aliquip aute et occaecat. Anim minim da cillum eiusmod enim Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.
//-                                         .testimonial-card__author
//-                                             .testimonial-card__name Ringo Starr
//-                                             .testimonial-card__position Position, Company name.
//-                     .testimonials__navigation
//-                         button(class="testimonials__navigation--left round-btn round-btn--unbordered round-btn--left btn-prev")
//-                             svg(width='18' height='11' viewbox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg')
//-                                 path(fill-rule='evenodd' clip-rule='evenodd' d='M11.7929 0.292893C12.1834 -0.0976311 12.8166 -0.0976311 13.2071 0.292893L17.7071 4.79289C18.0976 5.18342 18.0976 5.81658 17.7071 6.20711L13.2071 10.7071C12.8166 11.0976 12.1834 11.0976 11.7929 10.7071C11.4024 10.3166 11.4024 9.68342 11.7929 9.29289L14.5858 6.5H1C0.447715 6.5 0 6.05228 0 5.5C0 4.94772 0.447715 4.5 1 4.5H14.5858L11.7929 1.70711C11.4024 1.31658 11.4024 0.683417 11.7929 0.292893Z' fill='#424551')
//-                         button(class="testimonials__navigation--right round-btn round-btn--unbordered round-btn--right btn-next")
//-                             svg(width='18' height='11' viewbox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg')
//-                                 path(fill-rule='evenodd' clip-rule='evenodd' d='M11.7929 0.292893C12.1834 -0.0976311 12.8166 -0.0976311 13.2071 0.292893L17.7071 4.79289C18.0976 5.18342 18.0976 5.81658 17.7071 6.20711L13.2071 10.7071C12.8166 11.0976 12.1834 11.0976 11.7929 10.7071C11.4024 10.3166 11.4024 9.68342 11.7929 9.29289L14.5858 6.5H1C0.447715 6.5 0 6.05228 0 5.5C0 4.94772 0.447715 4.5 1 4.5H14.5858L11.7929 1.70711C11.4024 1.31658 11.4024 0.683417 11.7929 0.292893Z' fill='#424551')
//-                 .testimonials__img-wrapper 
//-                     img(src=`${paths.img.img}/homepage/services/parthners.jpg`, alt="partners")

