.container 
    .video-frame 
        h2.video-frame__title We are Createx Construction Bureau 
        span.video-frame__desc We are rightfully considered to be the best construction company in the USA.
        iframe(src="https://www.youtube.com/embed/EVHs7jmRdXk", frameborder="0", class="video-frame__frame") 
