include ../../../../_paths.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  How to build
        link(rel="stylesheet", href="/css/main.min.css")
    body 
        include ../../../../partials/data/_hero_data.pug
        include ../../../../partials/mixins/_hero.pug
        include ../../../../partials/components/header.pug

        +hero(heroData.howToBuild)
        include ./news_block.pug
        include ./comments.pug
        include ./form.pug

        include ../../../../partials/components/form.pug
        include ../../../../partials/components/footer.pug
        

