-
  const careers = [
    {
      title: 'Heavy Equipment Operator',
      location: 'New York',
      type: 'Full Time',
      url: '#'
    },
    {
      title: 'Financial Compliance Analyst',
      location: 'San Francisco',
      type: 'Full Time',
      url: '#'
    },
    {
      title: 'Project Manager – Buildings',
      location: 'New Jersey',
      type: 'Full Time',
      url: '#'
    },
    {
      title: 'Environment Specialist',
      location: 'New York',
      type: 'Part Time',
      url: '#'
    },
    {
      title: 'Accountant',
      location: 'New York',
      type: 'Full Time',
      url: '#'
    }
  ]
