@use 'button';
@use 'input';
@use 'header';
@use 'burger';
@use 'footer';
@use 'form';
@use 'round-btn';
@use 'swiper';
@use 'news-vidget';
@use 'hero.scss';
@use 'parthners.scss';
@use 'projects.scss';