@use '../mixins/respond-to.scss' as *;

.careers {
    padding: 121px 0 184px 0;

    @include respond-to(mobile) {
        padding: 70px 0 80px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 80px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: 705px;

        @include respond-to(laptop-m) {
            margin: 0 auto;
        }

    }

    &__aside {
        width: 100%;
        max-width: 390px;

        @include respond-to(laptop-m) {
            margin: 0 auto;
        }

        &-title {
            font-size: 28px;
            font-weight: 700;
            color: #1E212C;
            line-height: 150%;
            margin-bottom: 26px;
        }

        &-text {
            font-size: 18px;
            color: #424551;
            margin-bottom: 47px;
            line-height: 150%;
        }
    }

    &__buttons {

        display: flex;

        gap: 30px;

        button {
            padding: 16px;
            width: 100%;
            max-width: 180px;
        }
    }
}


.career-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px;
    background-color: #fff;
    border: 1px solid #e5e8ed;
    border-radius: 4px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;

    @media(max-width: 642px) {
        flex-direction: column;
    }

    &:hover {
        box-shadow: (0 4px 4px -4px #1E212C08,
                0 12px 10px -6px #9A9CA50A,
                0 30px 24px -10px #9A9CA50D,
                0 80px 80px -20px #9A9CA514);
        border-bottom: none;
        padding-bottom: 35px;
    }

    &--active {
        box-shadow: (0 4px 4px -4px #1E212C08,
                0 12px 10px -6px #9A9CA50A,
                0 30px 24px -10px #9A9CA50D,
                0 80px 80px -20px #9A9CA514);
        border-bottom: none;
        padding-bottom: 35px;

    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media(max-width: 642px) {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 14px;
        color: #787a80;
    }

    &__location,
    &__type {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        i {
            font-size: 14px;
            color: #9a9ca5;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        color: #1e212c;
        line-height: 1.3;
    }

    .button--outline {
        padding: 12px 28px;
    }
}