@use 'sass:map';
@use '../base/vars' as *;
@use '../mixins/respond-to.scss' as *;

.footer {
    padding: 80px 0;
    background-color: map.get($colors, footer-bg);
    color: map.get($colors, white);

    @include respond-to(laptop) {
        padding: 45px 0;
    }

    ul>li>a {
        &:hover {
            color: #fff;
        }
    }

    .top {
        margin-bottom: 45px;

        &__wrap {
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @include respond-to(laptop) {
                flex-wrap: wrap;
            }
        }

        &__leftside {
            width: 100%;
            max-width: 494px;
        }

        &__rightside {
            width: 100%;
            max-width: 494px;
            padding: 5px 0;
        }

        &__links {
            &-wrap {
                display: flex;
                margin-bottom: 27px;
                align-items: center;

                @include respond-to(mobile) {
                    flex-wrap: wrap;
                }
            }

            &-desc {
                font-size: 14px;
                line-height: 1.45;
                color: map.get($colors, grey);
            }
        }

        &__logo {
            margin-right: 60px;

            @include respond-to(mobile) {
                margin-bottom: 25px;
            }
        }

        .socials {
            &__list {
                display: flex;
                gap: 16px;
            }

            .social__link {
                &:hover {
                    scale: 1.1;
                }
            }
        }

        .form-footer-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 29px;
        }

        .form-footer {
            font-size: 14px;

            .form-wrap {
                display: flex;
                margin-bottom: 17px;
            }

            .form__input {
                width: 100%;
                border-radius: 4px 0 0 4px;
                border-right: none;
            }

            .button {
                border-radius: 0 4px 4px 0;
                padding: 13px 18px;

                @include respond-to(mobile) {
                    padding: 13px 19px;
                }
            }

            .form__desc {
                font-size: 12px;
                line-height: 1.5;
                color: map.get($colors, grey)
            }
        }
    }

    .middle {
        margin-bottom: 28px;

        &__block {
            display: flex;
            gap: 128px;

            @include respond-to(laptop) {
                display: grid;
                gap: 20px;
            }
        }

        &__title {
            text-transform: uppercase;
            font-size: 16px;
            display: block;
            margin-bottom: 20px;

            @include respond-to(laptop) {
                margin-bottom: 10px;
            }
        }

        &__item {
            color: map.get($colors, grey);
            margin-bottom: 12px;

            span {
                color: map.get($colors, white);
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: end;

        @include respond-to(laptop) {
            display: grid;
        }

        &__copyright {
            span {
                display: flex;
                font-size: 12px;

                @include respond-to(mobile) {
                    flex-wrap: wrap;
                }
            }

            @include respond-to(laptop) {
                margin-bottom: 50px;
            }
        }

        &__to-up {
            text-transform: uppercase;
            font-size: 14px;
            display: flex;
            align-items: end;
            gap: 13px;

            span {
                @include respond-to(laptop) {
                    display: none;
                }
            }

            .button {
                padding: 15px 12px;
            }
        }
    }
}