@use 'sass:map';
@use '../base/vars' as *;

.form {
    border: 1px solid red;
    margin: 0 auto;
    padding: 52px 40px 47px;
    width: 100%;
    max-width: 495px;
    border-radius: 4px;
    background-color: map.get($colors, white);
    border: 1px solid e5e8ed;
    box-shadow:
        0 4px 4px -4px #1e212c05,
        0 12px 10px -6px #1e212c08;

    &__title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 32px;
        text-align: center;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;

        &--checkbox {
            display: flex;

            .box {
                margin-right: 8px;
                font-size: 14px;
            }
        }
    }

    &__input {
        font-size: 14px;

        &-item {
            position: relative;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 23px;
        }
    }

    &__input-item {

        textarea {
            resize: none;
            field-sizing: content;
            font-size: 14px;
        }

        &--checkbox {
            margin-top: -5px;
            line-height: 1.4;
        }
    }

    &__button {
        display: block;
        padding: 14px 32px;
        margin: -9px auto 0;
        font-size: 14px;
    }
}