@use 'sass:map';
@use '../base/vars' as *;
@use '../mixins/respond-to.scss' as *;

.form {
    padding: 80px 0;
    background-image: url('/img/homepage/form/form-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-to(mobile) {
        background-image: none;
        padding: 0;
    }

    .container {
        @include respond-to(mobile) {
            padding: 0;
        }
    }

    &__wrap {
        border: 1px solid red;
        padding: 52px 40px 47px;
        width: 100%;
        max-width: 495px;
        border-radius: 4px;
        background-color: map.get($colors, white);
        border: 1px solid #e5e8ed;
        box-shadow:
            0 4px 4px -4px #1e212c05,
            0 12px 10px -6px #1e212c08;
        margin-left: auto;

        @include respond-to(mobile) {
            border: none;
            padding: 52px 20px 47px;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 32px;
        text-align: center;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;

        &--checkbox {
            display: flex;

            .box {
                margin-right: 8px;
                font-size: 14px;
            }
        }
    }

    &__input {
        font-size: 14px;

        &-item {
            position: relative;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 23px;
        }
    }

    &__input-item {

        textarea {
            resize: none;
            field-sizing: content;
            font-size: 14px;
        }

        &--checkbox {
            margin-top: -5px;
            line-height: 1.4;
        }
    }

    &__button {
        display: block;
        padding: 14px 32px;
        margin: -9px auto 0;
        font-size: 14px;
    }
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.field__file-button {
    cursor: pointer;
    display: inline-block;

}

.modal__overlay {
    position: fixed;
    content: '';
    background-color: #000;
    opacity: .7;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
}

.modal__form {
    position: fixed;
    padding: 48px;
    // margin: 0 auto;
    border-radius: 4px;
    width: 100%;
    max-width: 486px;
    background-color: #fff;
    z-index: 999;
    top: 0;
    right: 0;
    transform: translate(-150%, 50%);



    .form__input {
        width: 100%;
        max-width: 390px;

        &-wrap {
            margin: 0 auto;
        }
    }

    .form__button {
        width: 100%;
    }
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.hidden-item {
    display: none;
}