@use 'sass:map';
@use '../mixins' as *;
@use '../base/vars' as *;

.header {
    background-color: transparent;
    padding: 28px 0;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        font-weight: 700;

        @include respond-to(laptop) {
            margin: 0;
        }

        &__list {
            display: flex;
            font-size: 16px;
            gap: 40px;
            margin-left: -115px;

            @include respond-to(laptop-m) {
                margin-left: 0;
                gap: 20px;
            }

            @include respond-to(laptop) {
                display: none;
            }
        }

        &__feedback {
            display: flex;
            margin-right: -31px;

            li {
                display: flex;
                align-items: normal;
                margin-right: 36px;

                img {
                    width: 36px;
                    height: 37px;
                    margin-right: 14px;
                }

                div>p {
                    font-size: 14px;
                }

                div>a {
                    font-weight: 400;
                    font-size: 18px;
                }
            }

            @include respond-to(laptop) {
                display: none;
            }
        }
    }
}