@use "sass:map";
@use "../base/vars" as *;
@use "../mixins/respond-to.scss" as *;

.news {
    margin-bottom: 119px;

    @include respond-to(mobile) {
        margin-bottom: 80px;
    }

    &__title {
        font-size: 46px;
        text-align: center;
        margin-bottom: 62px;

        @include respond-to(tablet) {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1.425fr 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
        margin-bottom: 51px;

        @include respond-to(laptop-m) {
            grid-template-columns: unset;
        }

        @include respond-to(mobile) {
            margin-bottom: 60px;
        }
    }

    &-post {
        box-shadow: 0 4px 10px rgba(30, 33, 44, 0.1),
            0 12px 20px rgba(162, 166, 179, 0.15);

        &__small-wrap {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 30px;

            @include respond-to(laptop-m) {
                grid-template-rows: unset;
                grid-template-columns: 1fr 1fr;
            }

            @include respond-to(laptop) {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: unset;


            }
        }

        &__image {
            width: 100%;
            object-fit: cover;
        }

        &__content {
            margin-left: 24px;

            @include respond-to(tablet-l) {
                margin-left: 0;
                padding: 0 20px;
            }

            @include respond-to(mobile) {
                padding: 0 10px;
            }
        }

        &__title {
            display: block;
            font-size: 20px;
            font-weight: 700;
            color: #1E212C;

            @include respond-to(mobile) {
                font-size: 15px;
            }
        }

        &__meta {
            font-size: 14px;
            color: #787A80;

            @include respond-to(mobile) {
                font-size: 9px;
            }

            span {
                border-right: 1px solid #787a80;
                padding: 0 11px;

                &:last-child {
                    border-right: none;
                }

                &:first-child {
                    padding-left: 0;
                }

                @include respond-to(mobile) {
                    padding: 0 3px 0 3px;

                }
            }

            img {
                display: inline-block;
                margin-left: 8px;
            }
        }

        &__excerpt {
            line-height: 1.5;

            @include respond-to(mobile) {
                font-size: 13px;
            }
        }

        &:hover {
            .news-post__title {
                color: map.get($colors, orange);
            }
        }

        &--featured {
            width: 100%;
            max-width: 705px;
            grid-column: 1 / 2;
            grid-row: 1 / span 2;
            padding-bottom: 25px;

            .news-post__image-container {
                margin-bottom: 28px;
            }

            .news-post__title {
                margin-bottom: 19px;
            }

            .news-post__meta {
                margin-bottom: 21px;
            }

            @include respond-to(laptop-m) {
                max-width: unset;
            }
        }

        &--small {
            width: 100%;
            max-width: 495px;

            .news-post__image-container {
                margin-bottom: 20px;
            }

            .news-post__image {
                max-height: 156px;

                @include respond-to(laptop) {
                    max-height: 360px;
                }
            }

            .news-post__title {
                margin-bottom: 14px;
            }

            @include respond-to(laptop-m) {
                max-width: unset;
                padding-bottom: 30px;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        gap: 38px;
        align-items: center;

        @include respond-to(tablet-l) {
            flex-direction: column;
            gap: 30px;
        }

        &-title {
            font-size: 28px;
            color: #1E212C;
            text-align: center;

            @include respond-to(tablet) {
                font-size: 25px;
            }
        }

        &-button {
            display: block;
            padding: 17px 42px;

            @include respond-to(tablet) {
                font-size: 11px;
            }
        }
    }
}