@use '../mixins/respond-to.scss' as *;


.partners {
    padding: 83px 0 102px;
    background-color: #fff;

    // &-pt {
    //     padding-top: 188px;
    // }

    &.grey-theme {
        background-color: #F4F5F6;
    }

    @include respond-to(laptop-m) {
        margin-bottom: 0;
        padding-bottom: 66px;
    }


    @include respond-to(mobile) {
        padding: 80px 0 10px;
    }


    &__title {
        font-size: 46px;
        text-align: center;
        margin-bottom: 60px;

        @include respond-to(mobile) {
            font-size: 35px;
            margin-bottom: 39px;
        }
    }

    &__desc {
        display: block;
        width: fit-content;
        margin: 0 auto 78px;
        font-size: 18px;
        color: #787A80;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 70px;
        row-gap: 40px;

        @include respond-to(laptop-m) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 110px;
            gap: 20px;
        }

        @include respond-to(tablet) {
            grid-template-columns: 1fr 1fr;

        }

        @include respond-to(mobile) {
            margin-bottom: 63px;
        }
    }

    &__item {
        svg {
            path {
                fill: #BDBDBD;
            }
        }

        &:hover {
            svg {
                path {
                    fill: #f15656;
                }
            }
        }

        @include respond-to(laptop-m) {
            display: flex;
            justify-content: center;
        }
    }

    &__wrap {
        width: 120px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to(mobile) {
            height: 40px;
            width: 90px;
        }
    }

}