@use '../mixins/respond-to.scss' as *;

.projects {
    padding: 122px 0;

    @include respond-to(tablet-l) {
        padding: 60px 0;
    }

    .container {
        overflow: hidden;
        width: 100%;
    }

    &__title {
        font-size: 46px;
        max-width: 705px;
        margin-bottom: -37px;
        line-height: 1.3;

        @include respond-to(laptop) {
            margin-bottom: 60px;
        }

        @include respond-to(tablet-l) {
            font-size: 38px;
        }

        @include respond-to(tablet-l) {
            font-size: 32px;
        }
    }

    &__navigation {
        position: relative;
        right: 0;
        margin-bottom: 43px;
        max-width: fit-content;
        margin-left: auto;
    }

    &__swiper {
        margin-bottom: 84px;

        .swiper-wrapper {
            display: flex;
            gap: 30px;
            justify-content: space-between;
        }
    }

    &__slide {
        width: 100%;
        max-width: 390px;
        cursor: grab;

        @include respond-to(laptop-m) {
            margin: 0 auto;
        }

        &:nth-child(n + 10) {
            display: none;

            &.is-visible {
                display: block;
            }
        }

        .project-card {
            position: relative;
            display: block;
            height: 440px;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-shadow:
                    0px 4px 4px -4px rgba(30, 33, 44, 0.05),
                    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
                    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
                    0 50px 22px -20px hsla(229, 6%, 63%, .16);
                pointer-events: none;
                z-index: -1;
            }

            &:hover {
                .project-card {
                    &__image-wrapper {
                        height: 277px;
                    }

                    &__link {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transition-delay: .3s;
                    }
                }
            }

            &:active {
                cursor: grabbing;
            }

            &__image-wrapper {
                height: 345px;
                transition: height 0.3s ease;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &__content {
                padding: 21px 0 0 0;
                text-align: center;
                transition: padding 0.3s ease;
            }

            &__title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            &__category {
                color: #787A80;
                font-size: 14px;
                margin-bottom: 26px;
            }

            &__link {
                visibility: hidden;
                opacity: 0;
                padding: 13px 0;
                max-width: 172px;
                font-size: 14px;
                margin: 0 auto;
                transition: opacity .5s;

            }
        }
    }

    &__footer {
        max-width: fit-content;
        margin: 0 auto;

        @include respond-to(tablet-l) {
            margin: 0;
        }
    }

    &__cta {
        font-size: 28px;
        font-weight: 700;
        margin-right: 40px;

        @include respond-to(tablet-l) {
            display: block;
            margin-bottom: 40px;
            margin-right: 0;
        }
    }

    &__portfolio-link {
        display: inline-block;
        padding: 16px 40px;
    }
}