@use "sass:map";
@use "../base/vars" as *;
@use "../mixins/respond-to.scss" as *;

.round-btn {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: map.get($colors, white);
    opacity: .5;

    &--left {
        transform: rotate(180deg);
    }

    img {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    &:hover {
        opacity: 1;
    }

    @include respond-to(tablet-l) {
        width: 30px;
        height: 30px;
    }
}