@use '../mixins/respond-to.scss' as *;

.swiper {

    &-controls {
        padding: 0 32px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @include respond-to(tablet) {
            display: none;
        }
    }

    &-pagination-custom {
        --swiper-pagination-top: auto;
        --swiper-pagination-bottom: 121px;
        left: auto !important;
        width: 70% !important;

        @include respond-to(tablet-l) {
            --swiper-pagination-bottom: 40px;
        }

        @include respond-to(mobile) {
            --swiper-pagination-bottom: 25px;
        }
    }
}

.custom-pagination {
    position: absolute;
    display: flex;
    gap: 4px;
}

.pagination-item {
    width: 100%;
    max-width: 178px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-size: 28px;
    font-weight: 700;
    text-align: start;

    @include respond-to(tablet-l) {
        font-size: 17px;
        max-width: 70px;
    }

}

.pagination-item .line {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 13px;

    @include respond-to(tablet-l) {
        margin-top: 2px;
    }
}

.pagination-item.active {
    color: #fff;
}

.pagination-item.active .line {
    background: #fff;
}