.article {
    position: relative;
    margin: -187px auto 0;
    padding-bottom: 80px;
    color: #1e212c;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 76px;
    }

    &__meta {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 14px;
        color: #787a80;

        i {
            margin-right: 6px;
            font-size: 14px;
        }
    }

    &__category {
        font-weight: 700;
        color: #ff5a30;
    }

    &__share {
        display: flex;
        gap: 2px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            color: #787a80;
            transition: color 0.2s ease;

            path {
                fill: #787A80;
            }

            &:hover {
                color: #ff5a30;
            }
        }

        // &--top {
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        // }
    }

    &__image {
        margin: 40px 0 79px;

        img {
            width: 100%;
            border-radius: 8px;
            display: block;
        }
    }

    &__container {
        width: 100%;
        max-width: 810px;
        margin: 0 auto;
    }

    &__content {

        p {
            margin-bottom: 56px;
            line-height: 1.6;
            color: #424551;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        color: #1e212c;
    }

    &__quote {
        margin: 73px 0 49px;
        padding-left: 54px;
        border-left: 4px solid #ff5a30;

        span {
            font-size: 20px;
            line-height: 150%;
            font-weight: 600;
            color: #1e212c;
        }
    }

    .span {
        display: inline-block;
        margin-bottom: 2px;
        line-height: 160%;

    }

    &__list {
        margin: 24px 0 25px;
        padding-left: 0;
        list-style: none;

        li {
            position: relative;
            padding-left: 31px;
            margin-bottom: 6px;
            color: #424551;
            line-height: 1.5;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 16px;
                height: 16px;
                // background: url('../img/icons/check.svg') no-repeat center / contain;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 48px;
    }

    &__share-label {
        font-size: 14px;
        color: #787a80;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .article {
        padding-bottom: 60px;

        &__title {
            font-size: 24px;
        }

        &__quote p {
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
    .article {
        &__meta {
            flex-wrap: wrap;
            gap: 12px;
        }

        &__share--top {
            position: static;
            margin-bottom: 16px;
        }

        &__quote {
            padding-left: 20px;
        }
    }
}