include ../../../../_paths.pug

.benefits 
    .container 
        h2.benefits__title Our benefits
        span.benefits__desc Our mission is to set the highest standards for construction sphere.
        .benefits__content-wrap
            .benefits__content-item 
                .benefits__content-icon 
                    img(src=`${paths.img.img}/interior-design/icons/contract-icon.svg`, alt="contract-icon")
                h4.benefits__content-title Fixed Terms & Cost
                span.benefits__content-desc Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            .benefits__content-item 
                .benefits__content-icon 
                    img(src=`${paths.img.img}/interior-design/icons/workers-icon.svg`, alt="helmet-icon")
                h4.benefits__content-title Qualified Workers
                span.benefits__content-desc Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
            .benefits__content-item 
                .benefits__content-icon 
                    img(src=`${paths.img.img}/interior-design/icons/camera-icon.svg`, alt="camera-icon")
                h4.benefits__content-title Supervision & Control
                span.benefits__content-desc Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        button.benefits__button.button Discuss a project
