.container
    .how-it-works 
        h2.how-it-works__title That’s how we do it
        .how-it-works__wrap 
            .how-it-works__item
                h4.how-it-works__item-title Work Estimate
                span.how-it-works__item-desc Culpa nostrud commodo ea consequat aliquip reprehenderit.
            .how-it-works__item 
                h4.how-it-works__item-title Contract
                span.how-it-works__item-desc Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.
            .how-it-works__item.how-it-works__item--active
                h4.how-it-works__item-title Mobilization 
                span.how-it-works__item-desc Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
            .how-it-works__item 
                h4.how-it-works__item-title Construction Work
                span.how-it-works__item-desc Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.


