include ../../../../_paths.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.min.css")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css')

    body 
        include ../../../../_paths.pug
        include ../../../../partials/data/_hero_data.pug
        include ../../../../partials/components/header.pug
        include ../../../../partials/mixins/_hero.pug

        block content 
        -   
        +hero(heroData.interiorDesign)

        include ./offer.pug
        include ./how-it-works.pug
        include ./benefits.pug
        include ./related-projects.pug

        include ../../../../partials/components/form.pug
        include ../../../../partials/components/footer.pug

        script(src='https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js')
        script(type="module", src=`${paths.js}/homepage/projectsSwiper.js`)



        


