include ../../../../_paths.pug


.offer 
    .container 
        .offer-wrap 
            .offer__img-wrap 
                img(src=`${paths.img.img}/interior-design/offer-img.jpg`, alt="img")
            .offer__content-wrap 
                h3.offer__content-title We offer
                .offer__content-desc
                    .offer__content-desc-item
                        .offer__content-icon-wrap
                            .offer__content-icon.offer__content-icon--minus
                        .offer__content-desc-wrap
                            h4.offer__content-desc-title Interior design of apartments
                            span.offer__content-desc-desc Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                    .offer__content-desc-item
                        .offer__content-icon-wrap
                            .offer__content-icon.offer__content-icon--plus
                        .offer__content-desc-wrap
                            h4.offer__content-desc-title Interior design of private houses
