.pricing 
    .container
        .pricing__header
            h2.pricing__title Pricing
            span.pricing__desc We offer you three categories of construction.
        .pricing__table
            .pricing__row.pricing__row--head
                div.pricing__item.head-lite Items
                div
                    | Basic
                    br
                    span $20 per m2
                div
                    | Standard
                    br
                    span $30 per m2
                div
                    | Business
                    br
                    span $40 per m2
            .pricing__row
                .pricing__item Installation plan
                .pricing__cell.pricing__cell--check(data-label='Installation plan')
                .pricing__cell.pricing__cell--check(data-label='Installation plan') 
                .pricing__cell.pricing__cell--check(data-label='Installation plan') 
            .pricing__row
                .pricing__item Planning solutions (2-3 options)
                .pricing__cell.pricing__cell--check(data-label='Planning solutions (2-3 options)') 
                .pricing__cell.pricing__cell--check(data-label='Planning solutions (2-3 options)') 
                .pricing__cell.pricing__cell--check(data-label='Planning solutions (2-3 options)') 
            .pricing__row
                .pricing__item Lighting plan
                .pricing__cell.pricing__cell--check(data-label='Lighting plan') 
                .pricing__cell.pricing__cell--check(data-label='Lighting plan') 
                .pricing__cell.pricing__cell--check(data-label='Lighting plan') 
            .pricing__row
                .pricing__item Flooring plan
                .pricing__cell.pricing__cell--check(data-label='Flooring plan') 
                .pricing__cell.pricing__cell--check(data-label='Flooring plan') 
                .pricing__cell.pricing__cell--check(data-label='Flooring plan') 
            .pricing__row
                .pricing__item Heating floor laying scheme
                .pricing__cell.pricing__cell--check(data-label='Heating floor laying scheme') 
                .pricing__cell.pricing__cell--check(data-label='Heating floor laying scheme') 
                .pricing__cell.pricing__cell--check(data-label='Heating floor laying scheme') 
            .pricing__row
                .pricing__item Air conditioner zones layout
                .pricing__cell.pricing__cell--check(data-label='Air conditioner zones layout') 
                .pricing__cell.pricing__cell--check(data-label='Air conditioner zones layout') 
                .pricing__cell.pricing__cell--check(data-label='Air conditioner zones layout') 
            .pricing__row
                .pricing__item 3D visualization of all rooms
                .pricing__cell(data-label='3D visualization of all rooms')  simplified
                .pricing__cell.pricing__cell--check(data-label='3D visualization of all rooms') 
                .pricing__cell.pricing__cell--check(data-label='3D visualization of all rooms') 
            .pricing__row
                .pricing__item Visualization of each room (3-4 angles)
                .pricing__cell.pricing__cell--check(data-label='Visualization of each room (3-4 angles)') 
                .pricing__cell.pricing__cell--check(data-label='Visualization of each room (3-4 angles)') 
                .pricing__cell.pricing__cell--check(data-label='Visualization of each room (3-4 angles)') 
            .pricing__row
                .pricing__item Terms
                .pricing__cell(data-label='Terms')  10 days
                .pricing__cell(data-label='Terms')  20 days
                .pricing__cell(data-label='Terms')  30 days
            .pricing__row.pricing__row--actions
                div.pricing__item
                button.button--outline Send request
                button.button--outline Send request
                button.button--outline Send request
