include ../../../../_paths.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Available Positions
        link(rel="stylesheet", href="/css/main.min.css")
    body 
        include ../../../../partials/data/_hero_data.pug
        include ../../../../partials/mixins/_hero.pug
        include ../../../../partials/mixins/_target.pug
        include ../../../../partials/components/header.pug

        +hero(heroData.availablePositions)
        include ./careers.pug
        +target 

        include ../../../../partials/components/form.pug
        include ../../../../partials/components/footer.pug
        
        script(type="module", src=`${paths.js}/about/available-positions/modals.js`) 

