@use 'sass:map';

$breakpoints: (
    desktop: 1920px,
    laptop-l: 1440px,
    laptop-m: 1200px,
    laptop: 992px,
    tablet-l: 768px,
    tablet: 576px,
    mobile: 425px,
    mobile-m: 375px,
    mobile-s: 320px,
);