@use 'sass:map';

$colors: (
    footer-bg: #1e212c,
    white: #fff,
    grey: rgba(255, 255, 255, .6),
    orange: #FF5A30,
    orange-disabled: #ffac97,
    red: #FC3300,
);

$breakpoints: (
    desktop: 1920px,
    laptop-l: 1440px,
    laptop-m: 1200px,
    laptop: 992px,
    tablet-l: 768px,
    tablet: 576px,
    mobile: 425px,
    mobile-m: 375px,
    mobile-s: 320px,
);