@use 'sass:map';

$colors: (
    footer-bg: #1e212c,
    white: #fff,
    grey: rgba(255, 255, 255, .6),
    orange: #FF5A30,
    orange-opacity: rgba(255, 90, 48, .4),
    orange-disabled: #ffac97,
    red: #FC3300,
    input-bg: #F4F5F6,
    input-border: #d7dadd,
    input-color: #424551,
    input-success-color: #1E212C,
    input-placeholder: #9A9CA5,
    input-lite-bg: #393c46,
    input-lite-border: #61636b,
    input-lite-color: #b0b1b5,
    green: #03CEA4,
    danger: #FF4242
);

$breakpoints: (
    desktop: 1920px,
    laptop-l: 1440px,
    laptop-m: 1200px,
    laptop: 992px,
    tablet-l: 768px,
    tablet: 576px,
    mobile: 425px,
    mobile-m: 375px,
    mobile-s: 320px,
);