section.contacts-block
  .container
    .contacts-header
      h2.section-title Our offices
      p.section-description Give us a call, send us a note or visit our office. We can't wait to hear from you!

    .offices-grid
      .office-info
        h3 New York, USA
        address
          p 8502 Preston Rd. Inglewood, New York 98380
          a(href="#", class="map-link") See on the map
          a(href="tel:+14055550128", class="contact-link") <span>Call:</span>(405) 555-0128
          a(href="mailto:hello@createx.com", class="contact-link") <span>Email:</span> hello@createx.com
          p Schedule: Mon-Fri 9:00-18:00

      .office-info
        h3 New Jersey, USA
        address
          p 2464 Royal Ln. Mesa, New Jersey 45463
          a(href="#", class="map-link") See on the map
          a(href="tel:+18085550111", class="contact-link") <span>Call:</span>(808) 555-0111
          a(href="mailto:hello@createx.com", class="contact-link") <span>Email:</span> hello@createx.com
          p Schedule: Mon-Fri 9:00-18:00

      .office-info
        h3 San Francisco, USA
        address
          p 8502 Preston Rd. Inglewood, San Francisco 98380
          a(href="#", class="map-link") See on the map
          a(href="tel:+15055550125", class="contact-link") <span>Call:</span>(505) 555-0125
          a(href="mailto:hello@createx.com", class="contact-link") <span>Email:</span> hello@createx.com
          p Schedule: Mon-Fri 10:00-19:00

    .social-section
      h2.social-title Find us at
      .social-icons
        a(href="#" aria-label="WhatsApp") #[i.fab.fa-whatsapp]
        a(href="#" aria-label="Mwssenger") #[i.fab.fa-facebook-messenger]
        a(href="#" aria-label="Facebook") #[i.fab.fa-facebook-f]
        a(href="#" aria-label="Twitter") #[i.fab.fa-twitter]
        a(href="#" aria-label="YouTube") #[i.fab.fa-youtube]
