@use '../../../../mixins/respond-to.scss' as *;

.section-gallery {
    padding: 18px 0;
    padding-bottom: 100px;
}

.gallery {
    max-width: 1230px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 24px;

    @include respond-to(tablet-l) {
        width: 100%;
        max-width: 700px;
    }

    .swiper {
        width: 100%;
        max-width: 100%;
        position: relative;

        .round-btn {
            img {
                width: 18px;
                height: 11px;
            }
        }
    }

    &-main {
        height: 500px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 4px;
        }

        @include respond-to(tablet-l) {
            height: 300px;
        }

        @include respond-to(tablet) {
            height: 200px;
        }


    }

    &-thumbs {
        height: 100px;

        .swiper-slide {
            height: 100px;
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.3s ease;
            max-width: 100px;

            @include respond-to(tablet) {
                display: none;
            }

            &-thumb-active {
                opacity: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    }
}