doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.min.css")
    body 
        include ../../../partials/data/_hero_data.pug
        include ../../../partials/mixins/_hero.pug
        include ../../../partials/components/header.pug

        +hero(heroData.about)
        include ./results.pug
        include ./quotes.pug

        include ../../../partials/components/form.pug
        include ../../../partials/components/footer.pug

