include ../../../_paths.pug

.container 
    .quotes 
        .quotes__wrap 
            .quotes__img 
                img(src=`${paths.img.img}/about/image.jpg`, alt="seo-photo")
            .quotes__card 
                .quotes__text 
                    p Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi. Odio massa purus vel praesent arcu enim elit felis viverra.
                    p Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum integer. 
                .quotes__sign-block
                    .quotes__auhtor
                        p.name Courtney Alexander
                        p.position CEO - Createx Construction Bureau 
                    .quotes__signature 
                        img(src=`${paths.img.img}/about/icons/signature.png`, alt="signature")

                    
