include ../../../_paths.pug

.container  
    .results 
        .results__wrap 
            .results__item 
                .results__icon 
                    img(src=`${paths.img.img}/about/icons/like-icon.svg`, alt="icon")
                .results__stats 
                    span 60%
                .results__desc 
                    span Clients on the recommendation of friends
            .results__item 
                .results__icon 
                    img(src=`${paths.img.img}/about/icons/tool-icon.svg`, alt="icon")
                .results__stats 
                    span 2400+
                .results__desc 
                    span Apartments renovated
            .results__item 
                .results__icon 
                    img(src=`${paths.img.img}/about/icons/helmet-icon.svg`, alt="icon")
                .results__stats 
                    span 670
                .results__desc 
                    span Qualified specialists
            .results__item 
                .results__icon 
                    img(src=`${paths.img.img}/about/icons/pantonne-icon.svg`, alt="icon")
                .results__stats 
                    span 150000+ m2
                .results__desc 
                    span Finishing work was carried out
                    


