@use '../../../../mixins/respond-to.scss' as *;

.how-it-works {
    padding-bottom: 78px;

    &__title {
        font-size: 46px;
        margin-bottom: 93px;
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        border-top: 1px solid dashed;
        border-color: #D7DADD;
        counter-reset: step;

        @include respond-to(laptop-m) {
            grid-template-columns: repeat(2, 1fr);
            border-top: unset;
        }

        @include respond-to(tablet-l) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        position: relative;
        counter-increment: step;
        top: -42px;
        transition: all .3s ease;

        &:hover {
            &::before {
                color: #FF5A30;
                width: 84px;
                height: 84px;
                background-color: #ffe2dc;
                border-radius: 50%;
                transition: all .3s ease;

            }

            &::after {
                content: '';
                position: absolute;
                width: 116px;
                height: 116px;
                background-color: #ff5a30;
                opacity: 6%;
                border-radius: 50%;
                top: -17px;
                left: -33px;
                transition: all .3s ease;

            }
        }



        &::before {
            position: relative;
            content: counter(step, decimal-leading-zero);
            font-size: 46px;
            font-weight: 700;
            color: #D7DADD;
            width: 84px;
            height: 84px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            left: -17px;
            margin-bottom: 5px;
        }

        &-title {
            font-size: 20px;
            margin-bottom: 14px;
        }

        &-desc {
            font-size: 16px;
            line-height: 160%;
        }
    }
}