@use 'sass:map';
@use '../../../../base/vars' as *;
@use '../../../../mixins/respond-to.scss' as *;

.offer {
    padding: 120px 0 180px 0;

    @include respond-to(mobile) {
        padding-bottom: 80px;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 60px;

        @include respond-to(laptop-m) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__img-wrap {
        width: 100%;
        max-width: 705px;

        @include respond-to(mobile) {
            display: none;
        }
    }

    &__content {
        &-desc {
            &-item {
                display: flex;
                width: 100%;
                max-width: 376px;
                margin-bottom: 26px;
            }

            &-title {
                font-size: 28px;
                margin-bottom: 12px;
                line-height: 150%;
            }

            &-desc {
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                color: #787A80;
            }

            @include respond-to(tablet-l) {
                flex-wrap: wrap;
            }
        }

        &-wrap {
            width: 100%;
            max-width: 420px;
            padding-top: 6px;

            @include respond-to(laptop-m) {
                max-width: unset;
                padding-top: unset;
                width: unset;
            }

        }

        &-title {
            font-size: 46px;
            font-weight: 900;
            margin-bottom: 61px;
        }

        &-icon {
            position: relative;
            background-color: map.get($colors, orange);
            width: 22px;
            height: 2px;
            top: 20px;
            margin-right: 22px;

            &--plus {

                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: inherit;
                    height: inherit;
                    background-color: inherit;
                    transform: rotate(-90deg);
                }
            }
        }
    }
}