.menu-container
  button.burger-toggle(aria-label='Открыть меню')
    | &#x2630;
  div.overlay
  nav.sidebar-menu
    ul
      li.sidebar-link
        a(href='/pages/homepage/about') About Us
      li.sidebar-link
        a(href='/pages/homepage/services') Services
      li.sidebar-link
        a(href='/pages/homepage/work') Work
      li.sidebar-link
        a(href='/pages/homepage/news') News
      li.sidebar-link
        a(href="tel:+4055550128") Call us
      li.sidebar-link
        a(href="mailto:hello@createx.com") Talk to us
