include ../../_paths.pug 

header.header
    .container
        nav.nav 
            ul.nav__logo
                li 
                    a(href='#')
                        img(src=`${paths.img.img}/logo.svg`, alt="logo")
            ul.nav__list 
                li
                    a(href="/pages/homepage/about") About Us
                li
                    a(href="/pages/homepage/services") Services
                li
                    a(href="/pages/homepage/work") Work
                li
                    a(href="/pages/homepage/news") News
                li
                    a(href="/pages/homepage/contacts") Contacts
            ul.nav__feedback 
                li
                    img(src=`${paths.img.icons}/phone-icon.svg`, alt="phone")
                    div
                        p Call us
                        a(href="tel:+4055550128") (405) 555-0128
                li
                    img(src=`${paths.img.icons}/chat-icon.svg`, alt="chat")
                    div
                        p Talk to us
                        a(href="mailto:hello@createx.com") hello@createx.com
        include ../../partials/components/burger.pug
        
script(type="module", src=`${paths.js}/homepage/main.js`)

