mixin projectsCards(content)
    each item, index in content
        .projects__slide
            .project-card
                .project-card__image-wrapper
                    img.project-card__image(src=item.imgUrl alt=item.altText)
                .project-card__content
                    h5.project-card__title= item.title
                    p.project-card__category= item.category
                    a.project-card__link.button--outline(href="/pages/homepage/work/modern_cottage") View Project
