@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.banner {
    color: map.get($colors, white);
    margin-bottom: 125px;
    margin-top: 92px;

    @include respond-to(tablet-l) {
        margin-bottom: 80px;
    }

    @include respond-to(mobile) {
        margin-bottom: 40px;
    }

    &__slides {
        position: relative;
        z-index: 0;
    }

    &__img-wrap {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 987px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: #1e212c60;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @include respond-to(tablet-l) {
            height: 500px;
        }

        @include respond-to(mobile) {
            height: 390px;
        }
    }

    &__content {
        width: 100%;
        max-width: 600px;
        position: absolute;
        padding: 221px 0 120px 0;
        top: 0;
        z-index: 999;

        @include respond-to(laptop-l) {
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
        }

        @include respond-to(tablet-l) {
            padding: 40px 0;
        }

        @include respond-to(mobile) {
            max-width: 260px;
        }
    }

    &__title {
        font-size: 72px;
        font-weight: 700;
        line-height: 1.31;
        margin-bottom: 23px;

        span {
            color: map.get($colors, orange);
        }

        @include respond-to(tablet-l) {
            font-size: 45px;
        }

        @include respond-to(mobile) {
            font-size: 32px;
        }
    }

    &__desc {
        display: block;
        width: 100%;
        max-width: 595px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.45;
        margin-bottom: 61px;

        @include respond-to(tablet-l) {
            font-size: 13px;
            margin-bottom: 40px;
        }

        @include respond-to(mobile) {
            font-size: 11px;
        }
    }

    &__button {
        display: inline-block;
        padding: 16px 42px;

        @include respond-to(tablet-l) {
            padding: 12px 16px;
            font-size: 11px;
        }

        @include respond-to(mobile) {
            font-size: 8px;
        }

        &--lite {
            margin-right: 16px;
        }
    }
}