@use '../../mixins/respond-to.scss' as *;

.feedback {

    .container {
        @include respond-to(mobile) {
            padding: 0;
        }
    }

    &__title {
        margin-bottom: 40px;

        @include respond-to(mobile) {
            font-size: 25px;
        }
    }

    &__form {
        position: relative;
        width: auto;
        margin: 0 auto -90px;
        padding: 48px 60px;
        max-width: unset;
        z-index: 2;
        background-color: #fff;

        @include respond-to(mobile) {
            padding: 38px 0;
        }

        .form__field {
            display: flex;
            flex-direction: column;
        }

        .form__input-wrap {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            @include respond-to(laptop-l) {
                flex-direction: column;
            }

            .button {
                padding: 0;
                margin: 0;
                height: 44px;
                padding: 0 32px;

                @include respond-to(laptop-l) {
                    margin: 20px auto 0;
                    padding: 0 50px;
                }
            }
        }

        .form__input-item {

            @include respond-to(laptop-l) {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
            }

            @include respond-to(mobile) {
                padding: 0 30px;
            }

            .form__input {
                width: 260px;
                height: 44px;

                &--textarea {
                    min-height: auto;
                    width: 414px;

                    @include respond-to(laptop-l) {
                        width: 100%;
                    }
                }

                &-img {
                    transform: translateY(50%);
                }

                @include respond-to(laptop-l) {
                    width: 100%;
                }
            }

            .form__message {
                position: absolute;
            }
        }
    }
}