@use 'banner.scss';
@use 'video-frame';
@use 'target';
@use 'feedback';
@use 'services';
@use 'testimonials';
@use 'stats';

@use './services/main.scss' as servicesPage;
@use './services/interior_design/main.scss' as interior_desing;
@use './work/main.scss' as work_page;
@use './work/modern_cottage/main.scss' as modern_cottage_page;