@use 'banner.scss';
@use 'video-frame';
@use 'target';
@use 'feedback';
@use 'services';
@use 'projects';
@use 'testimonials';
@use 'stats';

@use './services/main.scss' as servicesPage;
@use './services/interior_design/main.scss' as interior_desing;