@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.services {
    background-image: url('/img/homepage/services/background.jpg');
    padding: 212px 0 90px 0;
    text-align: center;

    @include respond-to(tablet) {
        padding: 160px 0 80px 0;
    }

    &__title {
        font-size: 46px;
        margin-bottom: 33px;

        @include respond-to(tablet) {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }

    &__desc {
        display: block;
        font-size: 18px;
        color: #787A80;
        margin-bottom: 60px;

        @include respond-to(tablet) {
            font-size: 16px;
            margin-bottom: 40px;
        }
    }

    &__cards {
        display: flex;
        gap: 30px;
        margin-bottom: 92px;

        @include respond-to(laptop-l) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 60px;
        }

        @include respond-to(laptop) {
            grid-template-columns: 1fr 1fr;
        }

        @include respond-to(tablet-l) {
            grid-template-columns: 1fr;
        }

        @include respond-to(tablet) {
            gap: 20px;
            margin-bottom: 60px;
        }
    }

    &__item {
        width: 285px;
        height: 285px;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        cursor: pointer;
        box-shadow:
            0 4px 4px -4px rgba(30, 33, 44, 0.03),
            0 12px 10px -6px rgba(154, 156, 165, 0.04);

        &:nth-child(1) {
            background-image: url("/img/homepage/services/cards/card-1.jpg");
        }

        &:nth-child(2) {
            background-image: url("/img/homepage/services/cards/card-2.jpg");
        }

        &:nth-child(3) {
            background-image: url("/img/homepage/services/cards/card-3.jpg");
        }

        &:nth-child(4) {
            background-image: url("/img/homepage/services/cards/card-4.jpg");
        }

        &-wrap {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: map.get($colors, white);
            width: 100%;
            transition: color .3s ease;
            transition: all .3s ease;

            svg {
                width: 52px;
                height: 52px;
                margin-bottom: 24px;

                path {
                    fill: #FF5A30;
                }
            }

            h5 {
                font-size: 20px;
            }

            &:hover {
                background-color: #00000050;
                color: map.get($colors, white);
                box-shadow:
                    0 4px 4px -4px #1e212c05,
                    0 12px 10px -6px #1e212c08;

                svg {
                    path {
                        fill: map.get($colors, white);
                    }
                }
            }
        }

        @include respond-to(laptop-l) {
            margin: 0 auto;
        }

        @include respond-to(tablet) {
            width: 220px;
            height: 220px;
        }
    }

    &__more {
        span {
            font-size: 28px;
            font-weight: 700;
            margin-right: 40px;

            @include respond-to(tablet-l) {
                display: block;
                margin-bottom: 40px;
                margin-right: 0;
            }
        }

        .button {
            padding: 16px 40px;

            @include respond-to(mobile) {
                display: block;
            }
        }
    }
}