@use '../../mixins/respond-to.scss' as *;

@property --percent {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.stats {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 185px 0 187px 0;

    @include respond-to(tablet) {
        padding: 90px 0;
    }

    @include respond-to(mobile) {
        padding: 60px 0;

    }

    &__bg {
        position: absolute;
        top: -260px;
        left: -580px;
    }

    &__title {
        font-size: 46px;
        margin-bottom: 60px;

        @include respond-to(tablet) {
            font-size: 32px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 48px;
        flex-wrap: wrap;
    }

    &__item {
        @keyframes progress {
            from {
                --percent: 0%;
            }

            to {
                --percent: var(--target-percent);
            }
        }


        &.is-visible {

            .stats__circle-border::after {
                opacity: 1;
                animation: progress 1.2s ease-out forwards;
            }

            .stats__circle-border--orange::after {
                --target-percent: 98%;
                color: #f89828;
            }

            .stats__circle-border--pink::after {
                --target-percent: 20%;
                color: #f52f6e;
            }

            .stats__circle-border--blue::after {
                --target-percent: 75%;
                color: #5a87fc;
            }

            .stats__circle-border--green::after {
                --target-percent: 100%;
                color: #03cea4;
            }
        }
    }

    &__circle-border {
        position: relative;
        width: 148px;
        height: 148px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            inset: 0;
            opacity: 0;
            background: conic-gradient(currentColor var(--percent), transparent 0);
            transition: opacity 0.3s;
        }

        &--orange {
            background: #fde8bf;
            color: #f89828;
            --target-percent: 98%;
        }

        &--pink {
            background: #fcc1d3;
            color: #f52f6e;
            --target-percent: 20%;
        }

        &--blue {
            background: #cddbfe;
            color: #5a87fc;
            --target-percent: 75%;
        }

        &--green {
            background: #a0eddd;
            color: #03cea4;
            --target-percent: 100%;
        }
    }

    &__circle {
        position: relative;
        width: 139px;
        height: 139px;
        margin: 0 auto;
        font-size: 24px;
        font-weight: bold;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__desc {
        font-size: 14px;
        color: #1E212C
    }
}