@use '../../mixins/respond-to.scss' as *;

.target {
    width: 100%;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto 125px;

    @include respond-to(mobile) {
        margin-bottom: 40px;
    }

    .grey {
        background-color: #F4F5F6;
    }

    &__title {
        font-size: 46px;
        margin-bottom: 32px;
    }

    &__desc {
        display: block;
        font-size: 18px;
        margin-bottom: 62px;
        color: #787A80;
    }

    &__cards {
        display: flex;

        @include respond-to(laptop) {
            display: grid;
            gap: 20px;
        }
    }

    &__item {
        width: 473px;
        border-right: 1px solid;
        border-image: linear-gradient(#DADBDD00,
                #DADBDD80 50%,
                #DADBDDFF 100%,
                #DADBDD80 50%,
                #DADBDD00) 1;

        &:last-child {
            border: 0;
        }

        @include respond-to(laptop) {
            border-right: 0;
            border-bottom: 1px solid;
            padding-bottom: 30px;
            margin: 0 auto;
            width: 90%;
        }

        img {
            display: block;
            margin: 0 auto 28px;
        }

        h5 {
            font-size: 20px;
            margin-bottom: 13px;
        }

        span {
            display: block;
            width: 100%;
            max-width: 285px;
            line-height: 1.6;
            color: #787A80;
            margin: 0 auto;
        }
    }
}