@use '../../mixins/respond-to.scss' as *;

.testimonials {
    background-color: #F4F5F6;
    margin-bottom: -178px;
    padding-top: 66px;

    @include respond-to(laptop-l) {
        margin-bottom: unset;
    }

    @include respond-to(mobile) {
        padding-top: 0;
    }

    &-pt {
        padding-top: 84px;
    }

    &__title {
        font-size: 46px;
        margin-bottom: 60px;

        @include respond-to(mobile) {
            font-size: 32px;
            margin-bottom: 29px;
            text-align: center;
        }
    }

    &__sub-wrapper {
        position: relative;
    }

    &__content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        width: 100%;
        max-width: 614px;
        overflow: hidden;

        @include respond-to(laptop-m) {
            max-width: 1160px;
            margin-bottom: 21px;
        }

        @include respond-to(tablet-l) {
            max-width: 650px;
            overflow: visible;
        }

        @include respond-to(tablet) {
            max-width: 450px;
            overflow: visible;
        }

        @include respond-to(mobile) {
            max-width: 260px;
            overflow: visible;
        }

    }

    &__navigation {
        position: absolute;
        right: 0;
        top: 216px;

        @include respond-to(laptop-m) {
            left: 0;
            top: auto;

        }

    }

    &__img-wrapper {
        position: relative;
        bottom: 116px;
        z-index: 2;

        @include respond-to(laptop-m) {
            display: none;
        }
    }
}

.testimonial-card {
    &__avatar {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        background-color: #fe6262;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        @include respond-to(mobile) {
            height: 50px;
            width: 50px;
            margin-bottom: 18px;
        }

        &--green {
            background-color: #a9ff91;
        }

        &--orange {
            background-color: #ffe791;

        }

        &--blue {
            background-color: #91adff;

        }
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: #424551;
        margin-bottom: 29px;
        line-height: 1.55;

        @include respond-to(mobile) {
            font-size: 13px;
            margin-bottom: 20px;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 700;
        color: #1E212C;
        margin-bottom: 8px;

        @include respond-to(mobile) {
            font-size: 13px;
        }
    }

    &__position {
        font-size: 14px;
        font-weight: 400;
        color: #787A80;

        @include respond-to(mobile) {
            font-size: 11px;
        }
    }
}