@use '../../mixins/respond-to.scss' as *;

.video-frame {
    text-align: center;
    margin-bottom: 180px;

    @include respond-to(tablet-l) {
        margin-bottom: 120px;
    }

    @include respond-to(mobile) {
        margin-bottom: 100px;
    }

    &__title {
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 29px;

        @include respond-to(mobile) {
            font-size: 36px;
            margin-bottom: 20px;
        }
    }

    &__desc {
        display: block;
        font-size: 18px;
        color: #787A80;
        margin-bottom: 62px;

        @include respond-to(mobile) {
            font-size: 15px;
            margin-bottom: 30px;
        }
    }

    &__frame {
        width: 100%;
        height: 500px;

        @include respond-to(tablet) {
            height: 300px;
        }

        @include respond-to(mobile) {
            height: 200px;
        }
    }
}