@use '../../../mixins/respond-to.scss' as *;

.contacts {
    padding: 125px 0 113px 0;

    @include respond-to(tablet) {
        padding: 60px 0;
    }

    &__title {
        text-align: center;
        font-size: 46px;
        margin-bottom: 30px;

        @include respond-to(mobile) {
            font-size: 28px;
        }
    }

    &__desc {
        display: block;
        text-align: center;
        font-size: 18px;
        color: #787A80;
        margin-bottom: 63px;

        @include respond-to(mobile) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    &__form {
        width: 100%;

        display: flex;
        justify-content: space-between;
        gap: 60px;

        @include respond-to(laptop-m) {
            flex-wrap: wrap;
        }
    }

    &__leftside {
        @include respond-to(laptop-m) {
            margin: 0 auto;
        }

        @include respond-to(tablet) {
            display: none;
        }
    }

    &__rightside {
        width: 100%;
        max-width: 600px;

        @include respond-to(laptop-m) {
            margin: 0 auto;
        }

        .grid-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 6px;
            column-gap: 26px;
            row-gap: 29px;
            margin-bottom: 29px;

            @include respond-to(tablet) {
                grid-template-columns: 1fr;
            }

        }
    }

    .form__input {
        width: 100%;
        padding: 18px 16px;

        &--textarea {
            min-height: 128px;
            margin-bottom: 40px;
        }
    }

    .form__input-item--checkbox {
        width: 100%;
        max-width: 315px;
        line-height: 1.74;
        margin-top: 0;

        @include respond-to(tablet) {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }

    .form__button {
        margin: 0;
        padding: 0 50px;

        @include respond-to(tablet) {
            margin: 0 auto;
            padding: 16px 50px;
        }
    }

    .field-radio {
        margin-right: 29px;
    }

    .field-radio-wrap {
        display: flex;
    }

    .input__title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .agreement {
        display: flex;
        justify-content: space-between;

        @include respond-to(tablet) {
            flex-wrap: wrap;
        }
    }
}