.contacts-block {
    padding: 83px 0 119px 0;
    background-color: #F4F5F6;
    font-family: Arial, sans-serif;
}

.contacts-header {
    text-align: center;
    margin-bottom: 69px;

    .section-title {
        font-size: 46px;
        color: #1E212C;
        margin-bottom: 32px;
    }

    .section-description {
        color: #787A80;
        margin: 0 auto;
    }
}

.offices-grid {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 123px;
    flex-wrap: wrap;

    .office-info {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;

        h3 {
            text-wrap: nowrap;
            font-size: 28px;
            color: #1E212C;
            margin-bottom: 32px;
        }

        address {
            font-style: normal;

            p,
            a {
                line-height: 160%;
            }

            p {
                color: #1E212C;
            }

            a {
                display: block;
                margin-bottom: 4px;
                text-decoration: none;
                color: #FF5A30;
                text-decoration: underline;
            }

            .map-link {
                margin-bottom: 24px;
            }

            .contact-link {
                color: #1E212C;
                text-decoration: none;

                span {
                    color: #787A80
                }
            }
        }
    }
}

.social-section {
    text-align: center;

    .social-title {
        font-size: 46px;
        color: #1E212C;
        margin-bottom: 42px;
    }

    .social-icons {
        a {
            display: inline-block;
            margin: 0 10px;
            font-size: 30px;
            color: #787A80;
            transition: color 0.3s ease;

            &:hover {
                color: #FF5A30;
            }
        }
    }
}

@media (max-width: 768px) {
    .offices-grid {
        flex-direction: column;
    }
}