@use '../../../mixins/respond-to.scss' as *;

.quotes {
    border-radius: 4px;
    padding-bottom: 261px;

    @include respond-to(laptop-l) {
        padding-bottom: 161px;
    }

    @include respond-to(mobile) {
        padding-bottom: 60px;
    }

    &__wrap {
        position: relative;

        @include respond-to(laptop-l) {
            position: static;
        }
    }

    &__img {
        position: relative;
        bottom: -141px;

        @include respond-to(laptop-l) {
            position: static;
            max-width: fit-content;
            margin: 0 auto;
        }
    }

    &__card {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        padding: 102px 105px 71px 135px;
        box-shadow: (0 4px 4px -4px rgba(30, 33, 44, 0.03),
                0 12px 10px -6px rgba(154, 156, 165, 0.04));

        @include respond-to(laptop-l) {
            position: static;
        }

        @include respond-to(tablet-l) {
            padding: 102px 30px 71px 60px;
        }

        @include respond-to(tablet-l) {
            padding: 60px 15px 40px 30px;
        }
    }

    &__text {
        position: relative;
        width: 100%;
        max-width: 495px;
        font-size: 20px;
        font-weight: 700;
        color: #1E212C;
        line-height: 150%;
        margin-bottom: 51px;

        @include respond-to(laptop-l) {
            max-width: 100%;
        }

        @include respond-to(mobile) {
            font-size: 16px;
        }

        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &::before {
            position: absolute;
            left: -58px;
            content: '';
            width: 100%;
            height: 20px;
            background-image: url('../img/about/icons/braces-icon.svg');
            background-repeat: no-repeat;

            @include respond-to(mobile) {
                left: -35px;
            }
        }
    }

    &__sign-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__auhtor {
        .name {
            font-size: 16px;
            font-weight: 700;
            color: #1E212C;
            margin-bottom: 11px;
        }

        .position {
            font-size: 14px;
            color: #787A80;
        }
    }
}