@use '../../../mixins/respond-to.scss' as *;

.results {
    padding: 120px 0;

    @include respond-to(mobile) {
        padding: 60px 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
    }

    &__icon {
        margin-bottom: 26px;
    }

    &__stats {
        font-size: 46px;
        font-weight: 700;
        color: #FF5A30;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 14px;
        color: #1E212C;
    }
}