@use '../../../mixins/respond-to.scss' as *;

.team {
    padding: 79px 0 122px 0;

    @include respond-to (mobile) {
        padding-bottom: 60px;

    }
}

.team__head {
    text-align: center;
    margin-bottom: 60px;
}

.team__title {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 31px;
}

.team__subtitle {
    font-size: 18px;
    color: #787a80;
}

.team__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 64px;
    margin-bottom: 91px;

    @include respond-to (laptop-l) {
        grid-template-columns: repeat(3, 1fr);

    }

    @include respond-to (tablet-l) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to (mobile) {
        grid-template-columns: 1fr;

    }
}


.team-card {
    text-align: center;
}

.team-card__image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 21px;
}

.team-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.team-card__socials {
    position: absolute;
    inset: 0;
    background: #FF5A3090;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    height: 60px;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.team-card:hover .team-card__socials {
    opacity: 1;
    visibility: visible;
}

.team-card__social {
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;


    &:hover {
        background: #fff;
        color: #ff5a30;
    }
}

.team-card__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
}

.team-card__role {
    font-size: 14px;
    color: #787a80;
}

.team__footer {
    text-align: center;
}

.team__footer-text {
    font-size: 16px;
    color: #424551;
}

.team__footer-link {
    margin-left: 8px;
    color: #ff5a30;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}