@use '../../../mixins/respond-to.scss' as *;

.world-map {
    padding: 86px 0 120px 0;
    background-color: #F4F5F6;

    @include respond-to (mobile) {
        padding: 30px 0;
    }

    &__title {
        font-size: 46px;
        font-weight: 700;
        text-align: center;
        color: #1E212C;
        margin-bottom: 61px;

        @include respond-to (mobile) {
            font-size: 30px;
        }
    }

    &__img-wrap {
        width: fit-content;
        margin: 0 auto;
    }
}