@use "sass:map";
@use "base/reset" as *;
@use "base/vars" as vars;
@use "mixins/respond-to.scss" as *;
@use "components";

@use './pages/homepage/main.scss';

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

body {
    font-family: "Ubuntu", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;

    @include respond-to(mobile) {
        padding: 0 15px;
    }
}